	<!--ADMINISTRAR LIBROS-->
 	<div id="admLibro">
 		<div class="container" id="container1ModLibro">
 			<h4 style="margin-left: 20%;color:#BE2D2D">Buscar:</h4>
 			<form method="get" >
 				<div class="row">
 					<div class="col s4"></div>
	 					<div class="col s4">
	 						<div class="input-field">
		 						<input id="buscarNombreLibro" type="text">
			 					<label ><i class="material-icons">search</i></label>
			 				</div>
	 					</div>
 					<div class="col s4"></div>
 				</div>
			</form>
 				<!--MODAL DE MODIFICAR LIBRO-->
	 			<div id="modificarLibro">
	 				
	 				<div id="modal2" class="modalModificarLibro modal modal-fixed-footer">
				    <div class="modal-content" style="background-color: #E3E3E3">
				      <h4 style="color:#BE2D2D"><legend>Modificar Libro</legend></h4><br><br>


				      <!--FORMULARIO DE MODIFICAR LIBRO DENTRO DEL MODAL-->
				     

				     
					     <form id="modificarLibro" method="post"  action="procesos/administrarLibro.php" enctype="multipart/form-data">
					      	
						      	<div class="row" >
						      		<div class="col s2.5" >
							      		<h6 class="texto-modal">Código:</h6>
							      		<h6 class="texto-modal">Título:</h6>
							      		<h6 class="texto-modal">Categoría:</h6>
							      		<h6 class="texto-modal">Autor:</h6>
							      		<h6 class="texto-modal">Existencia:</h6>
							      		<h6 class="texto-modal">Imagen:</h6>
							      		
						      		</div>
							      	<div class="col s3"><br>
							      		<input type="text" class="input-modal" required id="modIdLibro" readonly name="codigo"><br>
							      		<input type="text" class="input-modal" required id="modTituloLibro" name="titulo"><br><br>
							      		<select class="browser-default" id="modCategoriaLibro" name="categoria" required>
							      
							      		</select>
							      		<input type="text" id="modAutorLibro" class="input-modal" required  name="autor"><br>
							      		<input type="text" id="modExistenciaLibro" class="input-modal" required  name="existencia"><br>
							      		
							      		<div class="file-field input-field">
						 					<div class="btn waves-effect waves-light red darken-4">
						        				<span>Imagen</span>
						        				<input class="card-panel teal lighten-2" name="imagen" id="imagen" type="file">
						      				</div>
						     				<div class="file-path-wrapper">
						        				<input class="file-path validate" type="text">
						      				</div>
			 							</div>
			 							
							      	</div>
							      	<div  class="col s2.5">
							      		<h6 class="texto-modal">Número de páginas:</h6>
							      		<h6 class="texto-modal">Año de publicación:</h6>
							      		<h6 class="texto-modal">Editorial:</h6>
							      		<h6 class="texto-modal">Descripción:</h6>
							      	</div>
							      	<div  class="col s3"><br>
							      		<input type="text" id="modPaginasLibro" class="input-modal" required  name="paginas"><br>
							      		<input type="text" id="modFechaLibro" class="input-modal" required name="fecha"><br>
							      		<input type="text" id="modEditorialLibro" class="input-modal" required  name="editorial"><br>
							      		<div class="input-field">
							      			<textarea id="modDescripcionLibro" name="descripcion" class="materialize-textarea" data-length="500" required></textarea>
				           					
							      		</div><br>
							      		<button type="submit" class="btn waves-effect waves-light red darken-4" name="modificarLibro">Modificar</button>
							      	</div>
						      	</div>
					      	
					    </form>
				    </div> 
				    <!--FOOTER DEL MODAL-->
				     <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
				    </div>
				    
				  </div>
				 
	 			</div>	
 			</form>
 			<div  id="tablaLibro">
 				<table style="margin-bottom:400px"  class="striped">
			        <thead>
			          <tr>
			              <th >Código</th>
			              <th>Titulo</th>
			              <th>Autor</th>
			              <th>Editorial</th>
			              <th>Fecha de Publicación</th>
			              <th colspan="2" align="center">Accion</th>
			          </tr>
			        </thead>
			        <tbody>
							{% for book in books %}
								<tr>
									<td width='100px'>{{book.code}}</td>
									<td width='250px'>{{book.title}}</td>
									<td width='100px'>{{book.author}}</td>
									<td width='150px'>{{book.editorial}}</td>
									<td width='75px'>{{book.publication_date}}</td>
									<td width='75px'><a id='' href='procesos/administrarLibro.php?proceso=eliminar&codigo=".$libro['codigo']."'><img src='../imagenes/eliminar.png' width='25px'></a></td>
									<td  width='75'><a class=\"modal-trigger\" href=\"#modal2\" onClick='modificarLibro($libro[codigo],\"$libro[titulo]\",$libro[categoria],\"$libro[autor]\",$libro[existencia],\"$libro[imagen]\",$libro[numPaginas],\"$libro[fechaPublicacion]\",\"$libro[editorial]\",\"$libro[descripcion]\")' >
									<img src=\"../imagenes/modificar.png\" width='25px'>
									</a>
									</td>
								</tr>
							{% endfor %}
			        </tbody>
			      </table>
 			</div>
			 
 		</div>
		 </div>